/* Write your code here. */
.bg-container {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 100px;
  font-family: roboto;
}
img {
  width: 200px;
}
.images {
  display: flex;
  flex-direction: row;
}
